{% extends 'adminpage.html' %}

{% block style_block %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
{% endblock %}

{% block body_block %}

<div class="text-right my-4">
    <button class="btn btn-primary" data-toggle="modal" data-target="#departmentmodal">+ Add Department</button>
  </div>

  <div>
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
              {% for field in fields %}
                <th>{{field.name}}</th>
                {% endfor %}
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
          {% for data3 in departobj %}
            <tr>
                <td>{{data3.id}}</td>
                <td>{{data3.Department_name}}</td>
                <td>{{data3.Status}}</td>
                <td><a href="{% url 'delete_department' data3.id %}" style="text-decoration: None;"><button class="btn btn-danger" >Del</button> <a href="{% url 'update_department' data3.id %}" style="text-decoration: None;"><button class="btn btn-secondary">Edit</button></a></td>
            </tr>
            {% endfor %}     
            </tbody>
      </table>
  </div>
<!--Department modal-->
<div class="modal fade" id="departmentmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add Employee</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="department" method="post">
          {% csrf_token %}
        <div class="modal-body">
          <input type="text" name="departmentname" class="form-control" placeholder="Enter name" required><br>
          <select name="status" required>
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
            </select>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </form>
      </div>
    </div>
  </div>

  <!-- Update Department Modal -->
  <div class="modal fade" id="update_departmentmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add Employee</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="" method="post">
          {% csrf_token %}
        {{ form.as_p}}
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </form>
      </div>
    </div>
  </div>

{% endblock %}

{% block script_block %}
<script type="text/javascript" src="https://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function() {
    $('#example').DataTable();
});

var data2 = "{{update_status}}" 
if (data2 == 1){
  $('#update_departmentmodal').modal('show');
}
</script>
{% endblock %}
