<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto</title>
    <style>
        table, th, td {
          align-content: center;
          border:0.5px dotted black;
          border-left: 0px;
          border-right: 0px;
          font-size: 25px;
          color: brown;
          padding-top: 10px;
          padding-bottom: 10px;

        }
        table.center {
          margin-left:auto;
          margin-right:auto; 
        }
        </style>
</head>
<body style="align-content:center;background-color:aliceblue;margin:0px;padding:0px">
  <div>
    <h1 style="text-align: center;font-size:3em">CRYPTOCURRENCIES</h1>

    <table class="center">
        <tr>
          <strong>
          <th style="width: 200px;font-size: 30px;">Coin</th>
          <th style="width: 200px;font-size: 30px;">Symbol</th>
          <th style="width: 200px;font-size: 30px;">Price</th>
          <th style="width: 200px;font-size: 30px;">24h Low</th>
          <th style="width: 200px;font-size: 30px;">24h High</th>
        </strong>
        </tr>
      
       
          {% for i in data %}
        <tr style="text-align: center;">
          <td style="text-align: left; width:500px"><img src="{{i.image}}" alt="...",width="20" height="20" > {{i.name}}</td>
          <td>{{i.symbol}}</td>
          <td>${{i.current_price}}</td>
          <td>${{i.low_24h}}</td>
          <td>${{i.high_24h}}</td>
        </tr>

        {% endfor %}
      </table>
    </div>

    <script>
      function myrefresh() {
        window.location.reload();
    }
    setTimeout('myrefresh()', 10000);
    </script>

</body>
</html>