<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=5.0" />
    <meta http-equiv="refresh" content="30" />
    <link rel="stylesheet" href="/static/Login.css">
    <title>Login</title>
  </head>
  <body style="margin:0px; padding:0px; width:100%; height:100%; background-color: rgba(246, 187, 115, 0.733);">
  <div>
    {% if messages %}
    {% for message in messages %}
    <div
      style="
        margin: -7px;
        padding: 10px;
        width: 100%;
        height: 30px;
        background-color: rgba(246, 187, 115, 0.733);
        font-size: 25px;
        color:rgba(180, 40, 40, 0.995);
        text-align:center;
      " 
    >
      <strong>{{ message }}</strong>
      </div>
      {% endfor %}
      {% endif %}
    <div class="logincontainer">
      <form action="api-getdata" method="post" style="text-align: center">
        {% csrf_token %}
        <label for="username" style="margin-right: 20px">Login ID</label>
        <input type="text" name="username" /><br /><br />
        <label for="pass" style="margin-right: 20px">Password</label>
        <input type="password" name="pass" /><br /><br />
        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>
